
.red{
  color: red;

}
.bold{
  font-weight: 600;
 
}

.small{
  font-size: 0.7rem;
  
}

.width{
  width: 20px;
}


.light{
  color: oklch(70.8% 0 0)
}

.semilighter{
   color: oklch(50.8% 0 0);
   font-size: 0.9rem;
}

.restaurantsCards{
  padding: 1rem 15rem;
  margin-top: 25px;

}

.OfferImageDiv{

  height: 250px;
}

.offerImage{
  width: 100%;
  height: 100%;
}

.title{
  margin:10px 0px;
}
.card-container{
  /* width: 900px; */
  padding: 5px;

  display: grid;
  grid-template-columns:  repeat(3, auto);
  gap:15px;

  box-sizing: border-box;

  
}

.cardDetails{
  width: 300px;
  display: flex;
  flex-direction: column;
  

  padding: 10px;
 
 

}

.cardDetails:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px ;
}
.card-image{
  width: 300px;
  height: 70%;


}

.imgRc{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.Res-details{
  display: flex;
  justify-content: space-between;
 align-items: center;
}

.prizes{
  display: flex;
  flex-direction: row;
}
.dishes,.address{
  display: flex;
  justify-content: space-between;

}

@media screen and (min-width: 400px) and (max-width: 1000px) {

  .card-container{
     display: grid;
  grid-template-columns:  repeat(2, auto);
  gap:15px;
 padding: 0;
    

}
.restaurantsCards{
  padding: 0;
}
.title{
  font-size: 15px;
}
.OfferImageDiv{
    height:  100px;
    /* width: 100%; */
}

}