
.footer{

 padding: 1rem 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:15px;
  margin-top:20px;
 
  background-color: bisque;
  box-sizing: border-box;

  justify-content: center;
 background-color: oklch(96.7% 0.003 264.542);
 
}
.paragraph{
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .footer{
    padding: 0;
  }
}