

*{
  margin: 0;
  padding: 0;
  color: oklch(44.2% 0.017 285.786);
  cursor: pointer;

}

:root{
  --primary-bg-color : #fafafa;
  --heading-color: rgba(0, 0, 0, 0.885);
  --highlight-color: red;
   --font-color: #444;

}

