section{
    padding: 1rem 15rem;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.tasklist{
  display: flex;
  gap:30px;
  align-items: center;
  cursor: pointer;
 
}
.tasklistSvg{
  height: 40px;
  background-color:aliceblue;
 
}
h2{
 
  display: flex;
  align-items: center;
  gap: 3px;
    padding-bottom: 13px;
    
}
h2:hover{
  color:var(--highlight-color);
transition:color 4s ease-in-out 0.1s;
  border-bottom:1px solid var(--highlight-color);
}

.container{
  width: 100%vw;
  padding: 1rem 15rem; 
background-color: oklch(96.7% 0.003 264.542);
 
}

.CollectionsCards{
  display: flex;
  
  gap: 15px;
  margin-top: 10px;
 
 box-sizing: border-box;
 

}
.imageContainer{

  position: relative;
  width: 220px;
  height: 300px;
  border-radius: 10px;
    color:white;
    cursor: pointer;
 
}

.cardImages{
width: 100%;
height: 100%;

}

.img-txt{

  position: absolute;
  bottom: 15px;
  padding-left : 10px;

}
.stag{
  color:white;
}


.filterSection{
  padding:  1rem 15rem; 
  display: flex;
  gap:15px;

}

.filterSpan{
  border: 1px solid oklch(44.2% 0.017 285.786);
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 5px;
  margin : 0 5px;


}
.filterSpan:hover{
 box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .section,.container,.filterSection{
    padding:1rem;

  }
  
}